<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labels</key>
	<dict>
		<key>Submenu</key>
		<dict>
			<key>help_subtitle</key>
			<string>(Here you can find helpful tips for using the app)</string>
			<key>help_title</key>
			<string>Help</string>
			<key>settings_subtitle</key>
			<string>(Personalize your app)</string>
			<key>settings_title</key>
			<string>Settings</string>
		</dict>
		<key>News</key>
		<dict>
			<key>title</key>
			<string>Latest Library News</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>lastUpdated</key>
			<string>Last updated on: </string>
			<key>seatsOccupied</key>
			<string> Seats are occupied</string>
			<key>ofPercentage</key>
			<string>% of </string>
		</dict>
		<key>Modules</key>
		<array>
			<string>Startmenu</string>
			<string>Website</string>
			<string>Primo</string>
			<string>News</string>
			<string>Free Seats</string>
		</array>
		<key>appTitle</key>
		<string>Mannheim University Library</string>
		<key>Website</key>
		<dict>
			<key>activityTitle</key>
			<string>Website</string>
		</dict>
	</dict>
	<key>urls</key>
	<dict>
		<key>Default</key>
		<string>http://www.google.de</string>
		<key>Website</key>
		<string>http://www.bib.uni-mannheim.de/mobile/en/</string>
		<key>Primo</key>
		<string>http://primo.bib.uni-mannheim.de/primo_library/libweb/action/preferences.do?fn=change_lang&amp;vid=MAN_MOBILE&amp;prefLang=en_US&amp;prefBackUrl=http:%2F%2Fprimo.bib.uni-mannheim.de%2Fprimo_library%2Flibweb%2Faction%2Fsearch.do?vid=MAN_MOBILE%26vid=MAN_MOBILE</string>
		<key>News</key>
		<string></string>
		<key>FreeSeats</key>
		<string>http://www.bib.uni-mannheim.de/bereichsauslastung/index.php?json</string>
	</dict>
	<key>alertMessages</key>
	<dict>
		<key>News</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Network connection not available, no cache activated. Displaying News is not possible at the moment. Please connect your device to the internet and try again.</string>
			<key>initCache</key>
			<string>Network connection not available, cache could not be initialized. Displaying News ist not possible. Please connect your device to the internet at least one time and then try again.</string>
			<key>noNetwork</key>
			<string>Network connection not available. Updating data is not possible. Please try again later.</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Network connection not available, no cache activated. Displaying Free Seats is not possible at the moment. Please connect your device to the internet and try again.</string>
			<key>createCache</key>
			<string>Network connection not available, cache could not be initialized. Displaying Free Seats is not possible at the moment. Please connect your device to the internet at least one time and try again.</string>
			<key>initCache</key>
			<string>Network connection not available. Cache could not be initialized. Displaying Free Seats is not possible. Please connect your device to the internet at least one time and then try again.</string>
			<key>noNetwork</key>
			<string>Network connection not available. Updating data ist not possible. Please connect your device to the internet and try again later.</string>
		</dict>
		<key>Config</key>
		<dict>
			<key>savedSettings</key>
			<string>Saved Settings</string>
		</dict>
		<key>errorTitle</key>
		<string>Error</string>
		<key>okAction</key>
		<string>OK</string>
		<key>cancelAction</key>
		<string>Back</string>
		<key>reloadAction</key>
		<string>Reload</string>
		<key>Website</key>
		<dict>
			<key>lostConnection</key>
			<string>Network connection lost</string>
			<key>noNetwork</key>
			<string>No network connection available</string>
			<key>noCache</key>
			<string>This is an error: No cache available</string>
			<key>initCache</key>
			<string>This is an error: No cache available</string>
		</dict>
	</dict>
</dict>
</plist>
