<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labels</key>
	<dict>
		<key>Help</key>
		<dict>
			<key>help_title</key>
			<string>FAQ</string>
			<key>config_subtitle</key>
			<string>Bietet Möglichkeiten zur Personalisierung der UB-App.
                
Daten Cache
Die Aktivierung der Cache-Funktion erzeugt eine Datenbank zur lokalen Speicherung der zuletzt heruntergeladenen Daten der Funktionen &quot;News&quot; und &quot;Freie Plätze&quot;. Die gespeicherten Daten werden angezeigt, sobald kein Internet-Zugriff zur Verfügung steht. Die Deaktivierung des Daten-Caches löscht die angelegte Datenbank. In der Standardeinstellung ist die Cache-Funktion deaktiviert, d.h. es existiert kein Zwischenspeicher und alle Daten müssen online abgerufen werden.
                
Angezeigte News-Einträge
Legen Sie fest, wie viele Beiträge aus dem Aktuelles-Weblog unter &quot;News&quot; angezeigt werden:
5 (Standardeinstellung), 10 oder 15.
                
Starte UB-App mit
Wählen Sie ihre persönliche Startfunktion der UB-App:
Startmenü (Standardeinstellung), Website, Primo, News und Freie Plätze.</string>
			<key>config_title</key>
			<string>Einstellungen</string>
			<key>seats_subtitle</key>
			<string>Ein Ampelsystem informiert über die Verfügbarkeit von Arbeitsplätzen in den einzelnen Bibliotheksbereichen.</string>
			<key>seats_title</key>
			<string>Freie Plätze</string>
			<key>news_subtitle</key>
			<string>Anzeige der letzten 5 Meldungen aus dem Aktuelles-Weblog der UB-Mannheim. Die Anzahl der angezeigten Einträge kann über das Menü Einstellungen verändert werden.</string>
			<key>news_title</key>
			<string>News</string>
			<key>primo_subtitle</key>
			<string>In der mobilen Version des Online-Katalogs Primo der UB-Mannheim stehen Ihnen alle bekannten Funktionalitäten wie Recherche, Ausleihe, Fernleihe und die Kontofunktionen zur Verfügung.</string>
			<key>primo_title</key>
			<string>Primo</string>
			<key>website_title</key>
			<string>Website</string>
			<key>website_subtitle</key>
			<string>Öffnet die mobile Version der UB-Homepage mit umfassenden Informationen rund um die Bibliothek.</string>
		</dict>
		<key>Submenu</key>
		<dict>
			<key>help_subtitle</key>
			<string>(Hier finden Sie nützliche Tipps zur Bedienung der App)</string>
			<key>help_title</key>
			<string>Hilfe</string>
			<key>settings_subtitle</key>
			<string>(Personalisieren Sie Ihre App)</string>
			<key>settings_title</key>
			<string>Einstellungen</string>
		</dict>
		<key>News</key>
		<dict>
			<key>title</key>
			<string>Aktuelles aus der UB</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>lastUpdated</key>
			<string>Zuletzt aktualisiert: </string>
			<key>seatsOccupied</key>
			<string> Arbeitsplätzen sind belegt</string>
			<key>ofPercentage</key>
			<string>% von </string>
		</dict>
		<key>Modules</key>
		<array>
			<string>Startmenü</string>
			<string>Website</string>
			<string>Primo</string>
			<string>News</string>
			<string>Freie Plätze</string>
		</array>
		<key>appTitle</key>
		<string>Mannheim University Library</string>
		<key>Website</key>
		<dict>
			<key>activityTitle</key>
			<string>Website</string>
		</dict>
	</dict>
	<key>urls</key>
	<dict>
		<key>Offline</key>
		<string>offline_de</string>
		<key>Default</key>
		<string>http://www.google.de</string>
		<key>Website</key>
		<string>http://www.bib.uni-mannheim.de/mobile/de/</string>
		<key>Primo</key>
		<string>http://primo.bib.uni-mannheim.de/primo_library/libweb/action/search.do?vid=MAN_MOBILE</string>
		<key>News</key>
		<string></string>
		<key>FreeSeats</key>
		<string>http://www.bib.uni-mannheim.de/bereichsauslastung/index.php?json</string>
	</dict>
	<key>alertMessages</key>
	<dict>
		<key>MainMenu</key>
		<dict>
			<key>noRedirect</key>
			<string>Weiterleitung zum ausgewählten Startmodul nicht möglich. Es stehen weder eine Internetverbindung, noch Offline Inhalte zur Verfügung. Bitte stellen Sie zur Nutzung der App eine Verbindung zum Internet her.</string>
		</dict>
		<key>News</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Keine Verbindung zum Netzwerk vorhanden, kein Cache aktiviert. Die Darstellung der News ist nicht möglich. Bitte stellen Sie eine Verbindung zum Internet her und probieren Sie es erneut.</string>
			<key>initCache</key>
			<string>Keine Verbindung zum Netzwerk vorhanden. Der Cache wurde noch nicht angelegt, da noch kein Primärabzug erfolgt ist. Die Darstellung der News ist nicht möglich. Bitte stellen Sie eine Verbindung zum Internet her und probieren Sie es erneut.</string>
			<key>noNetwork</key>
			<string>Keine Verbindung zum Netzwerk vorhanden. Aktualisierung der Daten nicht möglich. Bitte probieren Sie es später noch einmal.</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Keine Verbindung zum Netzwerk vorhanden, kein Cache aktiviert. Darstellung der Auslastungsanzeige nicht möglich. Bitte stellen Sie eine Verbindung zum Internet her und probieren Sie es erneut.</string>
			<key>createCache</key>
			<string>Keine Verbindung zum Netzwerk vorhanden. Der Cache wurde noch nicht angelegt, da noch kein Primärabzug erfolgt ist. Die Darstellung der Auslastungsanzeige nicht möglich. Bitte stellen Sie eine Verbindung zum Internet her und probieren Sie es erneut.</string>
			<key>initCache</key>
			<string>Keine Verbindung zum Netzwerk vorhanden. Der Cache wurde noch nicht angelegt, da noch kein Primärabzug erfolgt ist. Die Darstellung der Auslastungsanzeige nicht möglich. Bitte stellen Sie eine Verbindung zum Internet her und probieren Sie es erneut.</string>
			<key>noNetwork</key>
			<string>Keine Verbindung zum Netzwerk vorhanden. Aktualisierung der Daten nicht möglich. Bitte probieren Sie es später noch einmal.</string>
		</dict>
		<key>Config</key>
		<dict>
			<key>savedSettings</key>
			<string>Einstellungen gespeichert</string>
		</dict>
		<key>errorTitle</key>
		<string>Fehler</string>
		<key>okAction</key>
		<string>OK</string>
		<key>cancelAction</key>
		<string>Zurück</string>
		<key>reloadAction</key>
		<string>Neu laden</string>
		<key>Website</key>
		<dict>
			<key>lostConnection</key>
			<string>Verbindung zum Netzwerk unterbrochen.</string>
			<key>noNetwork</key>
			<string>Keine Verbindung zum Netzwerk vorhanden.</string>
			<key>noCache</key>
			<string>This is an error: No cache available.</string>
			<key>initCache</key>
			<string>This is an error: No cache available.</string>
		</dict>
	</dict>
</dict>
</plist>
