<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labels</key>
	<dict>
		<key>Help</key>
		<dict>
			<key>help_title</key>
			<string>FAQ</string>
			<key>config_subtitle</key>
			<string>Additionally the following settings can be changed \n\nThe activation of the cache function creates a database for local storage of the most recently downloaded data for the \&quot;News\&quot; and \&quot;Free Seats\&quot;. The stored data is displayed when no Internet access is available. Disabling this function will delete the created database. By default, caching is disabled, in this case all data must be accessed online. \n\nDetermine how many posts from the news-blog \&quot;News\&quot; is displayed: 5 (Default), 10 and 15 \n\nSelect your personal startup function: Startmenü (Default) , Website, Primo, News, Free Seats\n\nAn integrated Help completes the app.</string>
			<key>config_title</key>
			<string>Settings</string>
			<key>seats_subtitle</key>
			<string>A traffic light system informing about the load and availibility of free seats in the different library sections.</string>
			<key>seats_title</key>
			<string>Free Seats</string>
			<key>news_subtitle</key>
			<string>Showing the 5 latest posts from our blog. The count number can be set in the configuration menu.</string>
			<key>news_title</key>
			<string>News</string>
			<key>primo_subtitle</key>
			<string>With the mobile view of our library catalogue, you can use all common functions that are available in the classic view: search, (interlibray) loan and managing your account information.</string>
			<key>primo_title</key>
			<string>Primo</string>
			<key>website_title</key>
			<string>Website</string>
			<key>website_subtitle</key>
			<string>Opens up the mobile view of our website, containing comprehensive information about the university library.</string>
		</dict>
		<key>Submenu</key>
		<dict>
			<key>help_subtitle</key>
			<string>(Here you can find helpful tips for using the app)</string>
			<key>help_title</key>
			<string>Help</string>
			<key>settings_subtitle</key>
			<string>(Personalize your app)</string>
			<key>settings_title</key>
			<string>Settings</string>
		</dict>
		<key>News</key>
		<dict>
			<key>title</key>
			<string>Latest Library News</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>lastUpdated</key>
			<string>Last updated on: </string>
			<key>seatsOccupied</key>
			<string> Seats are occupied</string>
			<key>ofPercentage</key>
			<string>% of </string>
		</dict>
		<key>Modules</key>
		<array>
			<string>Startmenu</string>
			<string>Website</string>
			<string>Primo</string>
			<string>News</string>
			<string>Free Seats</string>
		</array>
		<key>appTitle</key>
		<string>Mannheim University Library</string>
		<key>Website</key>
		<dict>
			<key>activityTitle</key>
			<string>Website</string>
		</dict>
	</dict>
	<key>urls</key>
	<dict>
		<key>Offline</key>
		<string>offline</string>
		<key>Default</key>
		<string>http://www.google.de</string>
		<key>Website</key>
		<string>http://www.bib.uni-mannheim.de/mobile/en/</string>
		<key>Primo</key>
		<string>http://primo.bib.uni-mannheim.de/primo_library/libweb/action/preferences.do?fn=change_lang&amp;vid=MAN_MOBILE&amp;prefLang=en_US&amp;prefBackUrl=http:%2F%2Fprimo.bib.uni-mannheim.de%2Fprimo_library%2Flibweb%2Faction%2Fsearch.do?vid=MAN_MOBILE%26vid=MAN_MOBILE</string>
		<key>News</key>
		<string></string>
		<key>FreeSeats</key>
		<string>http://www.bib.uni-mannheim.de/bereichsauslastung/index.php?json</string>
	</dict>
	<key>alertMessages</key>
	<dict>
		<key>MainMenu</key>
		<dict>
			<key>noRedirect</key>
			<string>Redirection to selected Startscreen not possible. There is no Network Connection and no Cache availabe. Please connect your device to the Internet and try again.</string>
		</dict>
		<key>News</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Network connection not available, no cache activated. Displaying News is not possible at the moment. Please connect your device to the internet and try again.</string>
			<key>initCache</key>
			<string>Network connection not available, cache could not be initialized. Displaying News ist not possible. Please connect your device to the internet at least one time and then try again.</string>
			<key>noNetwork</key>
			<string>Network connection not available. Updating data is not possible. Please try again later.</string>
		</dict>
		<key>FreeSeats</key>
		<dict>
			<key>noCache_noNetwork</key>
			<string>Network connection not available, no cache activated. Displaying Free Seats is not possible at the moment. Please connect your device to the internet and try again.</string>
			<key>createCache</key>
			<string>Network connection not available, cache could not be initialized. Displaying Free Seats is not possible at the moment. Please connect your device to the internet at least one time and try again.</string>
			<key>initCache</key>
			<string>Network connection not available. Cache could not be initialized. Displaying Free Seats is not possible. Please connect your device to the internet at least one time and then try again.</string>
			<key>noNetwork</key>
			<string>Network connection not available. Updating data ist not possible. Please connect your device to the internet and try again later.</string>
		</dict>
		<key>Config</key>
		<dict>
			<key>savedSettings</key>
			<string>Saved Settings</string>
		</dict>
		<key>errorTitle</key>
		<string>Error</string>
		<key>okAction</key>
		<string>OK</string>
		<key>cancelAction</key>
		<string>Back</string>
		<key>reloadAction</key>
		<string>Reload</string>
		<key>Website</key>
		<dict>
			<key>lostConnection</key>
			<string>Network connection lost</string>
			<key>noNetwork</key>
			<string>No network connection available</string>
			<key>noCache</key>
			<string>This is an error: No cache available</string>
			<key>initCache</key>
			<string>This is an error: No cache available</string>
		</dict>
	</dict>
</dict>
</plist>
